<!DOCTYPE html>
<head></head>
<body>
<h1>Dopamine App</h1>
<a href="./index.html">Home</a> 
<br/><br/>
<h2>Log Food</h2>
<form>
<input type="text" id="food" placeholder="List Food Eaten" />
<br/><br/>
<label>How Does This Food Make You Feel When You Are Done?</label>
<br/>
<input type="checkbox" id="happy" value="happy" /><label for="Happy">Happy</label>
<input type="checkbox" id="sad" value="sad" /><label for="Sad">Sad</label>
<input type="checkbox" id="mad" value="mad" /><label for="Mad">Mad</label>
<input type="checkbox" id="excited" value="excited" /><label for="Excited">Excited</label>
<input type="checkbox" id="apathy" value="apathy" /><label for="Apathy">Apathy</label>
<br/><br/>
<label>When Did You Do This?</label>
<br/>
<input type="datetime-local" id="date"/>
<br/><br/>
<button type="submit">Submit</button>
</form>
<br/>
</body>
</html>