<div class="form-group">    

    <label for="food">Food</label>
    <input type="text" id="food" name="food" class="form-control" />
    <br /><br />
    <label for="serving">Serving</label>
    <input type="text" id="serving" name="serving" class="form-control" />
    <br /><br />
    <label for="calories">Calories</label>
    <input type="number" id="calories" name="calories" class="form-control" />
    <br /><br />
    <label for="totalFat">Total Fat</label>
    <input type="number" id="totalFat" name="totalFat" class="form-control" />
    <br /><br />
    <label for="satFat">Saturated Fat</label>
    <input type="number" id="satFat" name="satFat" class="form-control" />
    <br /><br />
    <label for="transFat">Trans Fat</label>
    <input type="number" id="transFat" name="transFat" class="form-control" />
    <br /><br />
    <label for="cholesterol">Cholesterol</label>
    <input type="number" id="cholesterol" name="cholesterol" class="form-control" />
    <br /><br />
    <label for="sodium">Sodium</label>
    <input type="number" id="sodium" name="sodium" class="form-control" />
    <br /><br />
    <label for="carbohydrates">Carbohydrates</label>
    <input type="number" id="carbohydrates" name="carbohydrates" class="form-control" />
    <br /><br />
    <label for="fiber">Fiber</label>
    <input type="number" id="fiber" name="fiber" class="form-control" />
    <br /><br />
    <label for="sugars">Sugars</label>
    <input type="number" id="sugars" name="sugars" class="form-control" />
    <br /><br />
    <label for="protein">Protein</label>
    <input type="number" id="protein" name="protein" class="form-control" />
    <br /><br />
    <label for="vitD">Vitamin D</label>
    <input type="number" id="vitD" name="vitD" class="form-control" />
    <br /><br />
    <label for="calcium">Calcium</label>
    <input type="number" id="calcium" name="calcium" class="form-control" />
    <br /><br />
    <label for="iron">Iron</label>
    <input type="number" id="iron" name="iron" class="form-control" />
    <br /><br />
    <label for="potassium">Potassium</label>
    <input type="number" id="potassium" name="potassium" class="form-control" />
    <br /><br />
    <label>Notes:</label>
    <br />
    <textarea type="text" id="note" name="note" class="form-control"></textarea>
    <br /><br />
</div>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Submit</button>