<div class="form-group">
  <h2>Calorie Decrease</h2>
   <br>



  <label for="bodySignals">Body Signals</label>
  <select id="bodySignals" name="bodySignals" class="form-control">
    <option value="AA_None">No Change</option>         
    <option value="BodyShake">Body Shake</option>
    <option value="SexualPleasure">Sexual Pleasure</option>
    <option value="DryMouth">Dry Mouth</option>

    <option value="SelfTalk_5">Self Talk - 5 Mins</option>
    <option value="SelfTalk_10">Self Talk - 10 Mins</option>  
    <option value="SelfTalk_30">Self Talk - 30 Mins</option>
    <option value="SelfTalk_60">Self Talk - 60 Mins</option>

    <option value="TemperatureRise">Temperature Rise</option>
    <option value="TemperatureDrop">Temperature Drop</option>

    <option value="UVRays_Fat_5">UV Rays - Areas Of Fat (Stomach, Butt, Legs, Arm Fat)</option>
    <option value="UVRays_Regular_5">UV Rays - Regular - 5 Mins</option>

    <option value="MusicTV_10">Music/TV - 10 Minutes</option>
    <option value="MusicTV_30">Music/TV - 30 Minutes</option>
    <option value="MusicTV_60">Music/TV - 60 Minutes</option>

    <option value="ComputerWork_10">Computer Work - 10 Minutes</option>
    <option value="ComputerWork_30">Computer Work - 30 Minutes</option>
    <option value="ComputerWork_60">Computer Work - 60 Minutes</option>

    <option value="ComfortableStretching_Head">Comfortable Stretching - Head</option>
    <option value="ComfortableStretching_ShoulderTorsoBack">Comfortable Stretching - ShoulderTorsoBack</option>
    <option value="ComfortableStretching_Arm">Comfortable Stretching - Arm</option>
    <option value="ComfortableStretching_StomachButtGenital">Comfortable Stretching - StomachButtGenital</option>
    <option value="ComfortableStretching_Leg">Comfortable Stretching - Leg</option>

    <option value="LifeConnection_5">Life Connection - 5 Mins</option>
    <option value="LifeConnection_10">Life Connection - 10 Mins</option>
    <option value="LifeConnection_30">Life Connection - 30 Mins</option>
    <option value="LifeConnection_60">Life Connection - 60 Mins</option>

    <option value="TightBraLooseShirt_Upper">Tight Bra Loose Shirt Change - Upper</option>
    <option value="TightClothes_Upper">Tight Clothes Change - Upper</option>    
    <option value="LooseClothes_Upper">Loose Clothes Change - Upper</option>
    <option value="TightClothes_Lower">Tight Clothes Change - Lower</option>
    <option value="LooseClothes_Lower">Loose Clothes Change - Lower</option> 

    <option value="MusclePain_Stop">Muscle Pain - Stopped (If More Than 5 Minutes)</option>
    <option value="MusclePain_Head">Muscle Pain - Head</option>
    <option value="MusclePain_ShoulderTorsoBack">Muscle Pain - ShoulderTorsoBack</option>
    <option value="MusclePain_Arm">Muscle Pain - Arm</option>
    <option value="MusclePain_StomachButtGenital">Muscle Pain - StomachButtGenital</option>
    <option value="MusclePain_Leg">Muscle Pain - Leg</option>

    <option value="MuscleItch_Head">Itch - Head</option>
    <option value="MuscleItch_ShoulderTorsoBack">Itch - ShoulderTorsoBack</option>
    <option value="MuscleItch_Arm">Itch - Arm</option>
    <option value="MuscleItch_StomachButtGenital">Itch - StomachButtGenital</option>
    <option value="MuscleItch_Leg">Itch - Leg</option>

    <option value="EnergyCheck_WholeBody">Energy Check - Whole Body</option>
    <option value="HeavyEnergy_Head">Heavy Energy - Head</option>
    <option value="HeavyEnergy_ShoulderTorsoBack">Heavy Energy - ShoulderTorsoBack</option>
    <option value="HeavyEnergy_Arm">Heavy Energy - Arm</option>
    <option value="HeavyEnergy_StomachButtGenital">Heavy Energy - StomachButtGenital</option>
    <option value="HeavyEnergy_Leg">Heavy Energy - Leg</option>

    <option value="Sleep_60">Sleep - 60 Minutes</option>
    <option value="Sleep_240">Sleep - 240 Minutes</option>
    <option value="Sleep_480">Sleep - 480 Minutes</option>

    <option value="Other">Other</option>
  </select>
  <br>




  <label for="excretion">Excretion</label>
  <select id="excretion" name="excretion" class="form-control">
    <option value="Head_ForcedAir">Head - Forced Air</option>
    <option value="StomachButtGenital_ForcedAir">StomachButtGenital - Forced Air</option>
    
    <option value="Head_Mucus">Head - Mucus</option>    
    <option value="Leg_Mucus">Leg - Mucus</option>    
    <option value="StomachButtGenital_Mucus">StomachButtGenital - Mucus</option>
    <option value="ShoulderTorsoBack_Mucus">ShoulderTorsoBack - Mucus</option>
    <option value="Arm_Mucus">Arm - Mucus</option>

    <option value="StomachButtGenital_Liquid">StomachButtGenital - Liquid</option>
    <option value="StomachButtGenital_LiquidAndSolid">StomachButtGenital - Liquid/Solid</option>
    <option value="StomachButtGenital_TamponLiquid">StomachButtGenital - Tampon</option>    
    <option value="Head_Liquid">Head - Liquid</option>
    <option value="Head_Solid">Head - Solid</option>
    <option value="WholeBody_NonMenstralBleed">WholeBody - NonMenstralBleed - Notate</option>

    <option value="Head_ShaveWax">Head - Shave/Wax</option>
    <option value="Arm_ShaveWax">Arm - Shave/Wax</option>
    <option value="StomachButtGenital_ShaveWax">StomachButtGenital - Shave/Wax</option>
    <option value="ShoulderTorsoBack_ShaveWax">ShoulderTorsoBack - Shave/Wax</option>
    <option value="Leg_ShaveWax">Leg - Shave/Wax</option>

    <option value="AA_None">No Change</option>
    <option value="Other">Other</option>
  </select>
  <br>





  <label for="sleep">Sleep</label>
  <select id="sleep" name="sleep" class="form-control">
    <option value="AA_None">None</option>
    <option value="SleepStart">Sleep Start</option>
    <option value="SleepFinish">Sleep Finish</option>
  </select>
  <br>






  <h2>Calorie Increase</h2>
  <br>
  <label for="food">Food Eaten</label>
  <input type="text" id="food" name="food" class="form-control" />
  <br />
  <label for="servings">Servings</label>
  <input type="text" id="servings" name="servings" class="form-control" />
  <br />
  <label for="foodLength">Time Eating If Not Tracked Below (Minutes)</label>
  <input type="text" id="foodLength" name="foodLength" class="form-control" />
  <br />
  <label for="water">Water (Ounces) </label>
  <input type="text" id="water" name="water" class="form-control" />
  <br />
  
  <label for="mealTime">Meal Time</label>
  <select id="mealTime" name="mealTime" class="form-control">
    <option value="AA_None">None</option>
    <option value="MealStart">Meal Start</option>
    <option value="MealFinish">Meal Finish</option>
  </select>
  <br>
  
  <br />
  <label>Notes:</label>
  <br />
  <textarea type="text" id="note" name="note" class="form-control"></textarea>
  <br />
</div>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Submit</button>
