<div class="form-group"> 
    <label>When Did You Do This?</label>
    <br />
    <input type="datetime-local" id="date" name="date" class="form-control" />
    <br /><br />

    <h2>Calorie Increase</h2>
    <label for="food">Food Eaten</label>
    <input type="text" id="food" name="food" class="form-control" />
    <br /><br />
    <label for="servings">Servings</label>
    <input type="text" id="servings" name="servings" class="form-control" />
    <br /><br />
    <label for="water">Water (Ounces) </label>
    <input type="text" id="water" name="water" class="form-control" />
    <br /><br />
    <h2>Calorie Decrease</h2>
    <label for="sun">Sun Exposure (Minutes)</label>
    <input type="text" id="sun" name="sun" class="form-control" />
    <br /><br />
    <label for="fatTan">Was This A Fat Tan?</label>
    <br />
    <select id="fatTan" name="fatTan" class="form-control">
        <option value="None">None</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <br /><br />
    <label for="social">Social Time (Minutes)</label>
    <input type="text" id="social" name="social" class="form-control" />
    <br /><br />
    <label for="selfTalk">Self Talk - Reflect My Neurological State (Minutes)</label>
    <input type="text" id="selfTalk" name="selfTalk" class="form-control" />
    <br /><br />
    <label for="socialMedia">Social Media Time (Minutes)</label>
    <input type="text" id="socialMedia" name="socialMedia" class="form-control" />
    <br /><br />
    <label for="bodilyGas">Bodily Air (Burp, Fart, Cough, Sneeze, Medication, etc.) (Intensity)</label>
    <br />
    <select id="bodilyGas" name="bodilyGas" class="form-control">
        <option value="None">None</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select>
    <br /><br />    
    <label for="deficate">Defication (Intensity)</label>
    <br />
    <select id="deficate" name="deficate" class="form-control">
        <option value="None">None</option>
        <option value="PeeLight">Pee - Light</option>
        <option value="PeeHeavy">Pee - Heavy</option>
        <option value="PoopLight">Poop - Light</option>
        <option value="PoopHeavy">Poop - Heavy</option>
        <option value="PeePoopLight">Pee And Poop - Light</option>
        <option value="PeePoopHeavy">Pee And Poop - Heavy</option>
    </select>
    <br /><br /> 
    <label for="walking">Walking/Cardio (Housework, Workout, etc.) (Minutes)</label>
    <input type="text" id="walking" name="walking" class="form-control" />
    <br /><br />
    <label for="work">Sitting Activities That Distract From Eating (Work, Study, TV, etc.) (Minutes)</label>
    <input type="text" id="work" name="work" class="form-control" />
    <br /><br />
    <label for="sleep">Sleep Time (Minutes)</label>
    <input type="text" id="sleep" name="sleep" class="form-control" />
    <br /><br />
    <label for="activityminutes">Other Activity Minutes (Describe In Notes)</label>
    <input type="text" id="activityminutes" name="activityminutes" class="form-control" />
    <br /><br />
    <label>Notes:</label>
    <br />
    <textarea type="text" id="note" name="note" class="form-control"></textarea>
    <br /><br />
</div>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Submit</button>