<div class="form-group">
  <label>When Did You Do This?</label>
  <br />
  <input type="datetime-local" id="date" name="date" class="form-control" />
  <br /><br />

  <h2>Calorie Decrease</h2>
  <label for="bodyRelease">Body Release</label>
  <br />
  <select id="bodyRelease" name="bodyRelease" class="form-control">
    <option value="LifeConnection">LifeConnection</option>
    <option value="Solid">Solid</option>
    <option value="Liquid">Liquid</option>
    <option value="Tampon">Tampon</option>
    <option value="Mucus">Mucus</option>
    <option value="Solid">Solid</option>
    <option value="ForcedAir">Forced Air</option>
    <option value="MuscleAche">Muscle Ache</option>
    <option value="MusclePain">Muscle Pain</option>
    <option value="ComfortableStretching">Comfortable Stretching</option>
    <option value="TightClothes">Tight Clothes</option>
    <option value="LooseClothes">Loose Clothes</option>
    <option value="UVRays">UV Rays</option>
    <option value="TemperatureRise">TemperatureRise</option>
    <option value="TemperatureDrop">Temperature Drop</option>
    <option value="UnconsciousMovement">UnconsciousMovement</option>
  </select>
  <br />
  <label for="activityminutes">Activity Minutes</label>
  <input type="text" id="activityminutes" name="activityminutes" class="form-control" />
  
  <br />

  <fieldset>
        <label>Where Is Your Energy Occuring?</label>
      
        <div>
          <input type="checkbox" id="emotionEnergy_Head" name="emotionEnergy_Head" />
          <label for="emotionEnergy_Head">Head</label>
        </div>
      
        <div>
            <input type="checkbox" id="emotionEnergy_ShoulderTorsoBack" name="emotionEnergy_ShoulderTorsoBack" />
            <label for="emotionEnergy_ShoulderTorsoBack">Shoulder/Torso/Back</label>
          </div>

          <div>
            <input type="checkbox" id="emotionEnergy_Arm" name="emotionEnergy_Arm" />
            <label for="emotionEnergy_Arm">Arm (Notate If Only One)</label>
          </div>

          <div>
            <input type="checkbox" id="emotionEnergy_StomachButtGenital" name="emotionEnergy_StomachButtGenital" />
            <label for="emotionEnergy_StomachButtGenital">Stomach/Butt/Genital</label>
          </div>

          <div>
            <input type="checkbox" id="emotionEnergy_Leg" name="emotionEnergy_Leg" />
            <label for="emotionEnergy_Leg">Leg (Notate If Only One)</label>
          </div>

      </fieldset>
      <br><br>

  <h2>Calorie Increase</h2>
  <br>
  <label for="food">Food Eaten</label>
  <input type="text" id="food" name="food" class="form-control" />
  <br />
  <label for="servings">Servings</label>
  <input type="text" id="servings" name="servings" class="form-control" />
  <br />
  <label for="foodLength">Time Eating (Minutes)</label>
  <input type="text" id="foodLength" name="foodLength" class="form-control" />
  <br />
  <label for="water">Water (Ounces) </label>
  <input type="text" id="water" name="water" class="form-control" />
  <br />


 

    <br />

  <br />
  <label>Notes:</label>
  <br />
  <textarea type="text" id="note" name="note" class="form-control"></textarea>
  <br />
</div>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Submit</button>