<div class="form-group"> 

    <label>When Did You Do This?</label>
    <br />
    <input type="datetime-local" id="date" name="date" class="form-control" />
    <br /><br />
    <label>How Strong Are You Feeling Positively?</label>
    <br />
    <select id="positive" name="positive" class="form-control">
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select>
    <br /><br />
    <label>How Strong Are You Feeling Negatively?</label>
    <br />
    <select id="negative" name="negative" class="form-control">
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select>
    <br /><br />
    <label for="laugh">Laughing (Minutes)</label>
    <input type="text" id="laugh" name="laugh" class="form-control" />
    <br /><br />
    <label for="physicalEmotion">Physical Emotion - Put In Notes (Minutes)</label>
    <input type="text" id="physicalEmotion" name="physicalEmotion" class="form-control" />
    <br /><br />
    <label for="note">Notes</label>
    <br />
    <textarea type="text" id="note" name="note" class="form-control"></textarea>
    <br /><br />
</div>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Submit</button>