<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <title>Dopamine App</title>
  <style>
    .container {
      width: 400px;
      margin: 0 auto;
    }
  </style>
</head>

<body class="container">
  <h2>New Activty</h2>

  <a href="/measurement/new" class="btn btn-success">Measurements</a>
  <a href="/energy/new" class="btn btn-success">Energy</a>
  <a href="/add_food/new" class="btn btn-success">Add Food</a>

<!--
  <a href="/food" class="btn btn-success">Listed Foods</a>
  <a href="/activity" class="btn btn-success">Listed Activities</a>
  -->
  <br><br>
  <div class="container">
      <form action="/calories" method="POST">
  <%-include('caloriesform') %>
  </form>
</div>
</body>

</html>